@page "/states/details/{StateId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@inject IJSRuntime JS
@using ARE.WEB.Pages.Cities;


<GenericList TitleCatalogo="Ciudades"
             IconTitle="oi oi-globe"
             MyList="cities"
             Filter=@Filter
             currentPage="currentPage"
             totalPages="totalPages"
             SelectedPage="SelectedPage"
             ApplyFilterAsync="ApplyFilterAsync"
             CleanFilterAsync="CleanFilterAsync"
             AddAsync="Add">

    <BtnBackPage>
        <a class="btn" href="/countries/details/@CountryId"><i class="oi oi-arrow-thick-left" /> </a>
    </BtnBackPage>


    <Body>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ciudad</th>
                    <th style="width:180px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var city in cities!)
                {
                    <tr>
                        <td>
                            @city.Name
                        </td>
                        <td>
                            <button class="btn btn-warning" @onclick=@(() => EditAsync(city.Id))> <i class="oi oi-pencil" /> </button>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(city.Id))> <i class="oi oi-trash" /> </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </Body>

</GenericList>


<CascadingValue Value="helperActions">
    <PopUpByComponent @ref="PopUpComponent" IconTitle="oi oi-box" TitlePopUp="@TitlePopUp"
                      Tipo="typeof(CityForm)" parameters="parameters" Modelo="model"></PopUpByComponent>
</CascadingValue>

@code {
    public string ApiBase = "api/cities";
    private State? state;
    private List<City>? cities;
    private int currentPage = 1;
    private int totalPages;
    public int CountryId { get; set; }

    private City model = new();


    public string TitlePopUp = null!;
    public IDictionary<string, object> parameters { get; set; } = new Dictionary<string, object>();
    HelperActions helperActions = new HelperActions();
    private PopUpByComponent<City> PopUpComponent;


    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = "";

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = "";

    [Parameter]
    public int StateId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        helperActions.Action = OnValidSubmit;
        parameters.Add("Model", model);
        await LoadAsync();
    }

    private async Task LoadAsync(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        string url1 = $"{ApiBase}/ByStateId?id={StateId}&page={page}&filter={Filter}";
        string url2 = $"{ApiBase}/totalPages?id={StateId}&filter={Filter}";
        var responseHppt = await repository.Get<State>($"api/states/{StateId}");
        var responseHppt2 = await repository.Get<List<City>>(url1);
        var responseHppt3 = await repository.Get<int>(url2);
        state = responseHppt.Response;
        cities = responseHppt2.Response;
        totalPages = responseHppt3.Response;

        CountryId = state.CountryId!;

        StateHasChanged();
    }

    private void Add()
    {
        TitlePopUp = "Agregar Ciudad";
        model = new();
        parameters["Model"] = model;
        PopUpComponent.Show();
    }

    private async Task EditAsync(int CityId)
    {
        TitlePopUp = "Modificar Ciudad";


        var responseHttp = await repository.Get<City>($"/api/cities/{CityId}");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
        {
            model = responseHttp.Response;
            parameters["Model"] = model;
            PopUpComponent.Show();
        }

    }


    private void OnValidSubmit()
    {

        if (model?.Id > 0)
            Edit();
        else
            Create();

    }

    private async Task Create()
    {
        model.StateId = StateId;
        var httpResponse = await repository.Post(ApiBase, model);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await Return();
        JS.ShowToast("Se guardo correctamente", TypeAlert.success, AlertPosition.center_end, false, 2000);
    }

    private async Task Edit()
    {
        var responseHttp = await repository.Put(ApiBase, model);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        await Return();
        JS.ShowToast("Se modifico correctamente", TypeAlert.success, AlertPosition.center_end, false, 2000);
    }

    private async Task DeleteAsync(int cityId)
    {
        if (!await JS.Confirm("Confirmación", "¿Esta seguro que quieres borrar el registro?", "SI", TypeAlert.question))
        {
            return;
        }

        var responseHttp = await repository.Delete($"{ApiBase}/{cityId}");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
        {
            await LoadAsync();
            JS.ShowToast("Se elimino correctamente", TypeAlert.success, AlertPosition.center_end, false, 2000);
        }

    }

    private async Task Return()
    {
        PopUpComponent.Hiden();
        await LoadAsync();
    }


    #region DataGrid

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadAsync(page);
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync("");
    }

    private async Task ApplyFilterAsync(string filter)
    {
        Filter = filter;
        int page = 1;
        await SelectedPage(page);
    }
    #endregion
}
