
            <div class="mb-3">
                <label>Estado/Departamenteo:</label>
                <div>
                    <InputText class="form-control" @bind-Value="@Model.Name" />
                    <ValidationMessage For="@(() => Model.Name)" />
                </div>
            </div>

      

@code {
   

    [Parameter]
    [EditorRequired]
    public State Model { get; set; } = null!;

  
    
}
