
            <div class="mb-3">
                <label>Cuidad:</label>
                <div>
                    <InputText class="form-control" @bind-Value="@Model.Name" />
                    <ValidationMessage For="@(() => Model.Name)" />
                </div>
            </div>

       

@code {
   

    [Parameter]
    [EditorRequired]
    public City Model { get; set; } = null!;

    
}
