<div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
    <div>
        <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar..." @bind-value=@FilterLocal />
    </div>
    <div class="mx-1">
        <button type="button" class="btn btn-outline-primary" @onclick=@(() => InternalApplyFilter()) ><i class="oi oi-layers" /> Filtrar</button>
        <button type="button" class="btn btn-outline-danger" @onclick=@(() => InternalCleanFilter())><i class="oi oi-ban" /> Limpiar</button>
    </div>
</div>

@code {
    [Parameter] public string Filter { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ApplyFilterAsync { get; set; }
    [Parameter] public EventCallback CleanFilterAsync { get; set; }

    public string FilterLocal { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        FilterLocal = Filter;
    }

    private async Task InternalApplyFilter()
    {
        await ApplyFilterAsync.InvokeAsync(FilterLocal);
    }

    private async Task InternalCleanFilter()
    {
        await CleanFilterAsync.InvokeAsync();
    }

}

