@page "/countries/details/{CountryId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService Alert




<GenericList ShowPopUp="ShowPopUp"
             TitleCatalogo="Estados"
             IconTitle="oi oi-globe"
             MyList="states"
             Filter=@Filter
             currentPage="currentPage"
             totalPages="totalPages"
             SelectedPage="SelectedPage"
             ApplyFilterAsync="ApplyFilterAsync"
             CleanFilterAsync="CleanFilterAsync"
             AddAsync="Add">

    <BtnBackPage>
        <a class="btn" href="/countries"><i class="oi oi-arrow-thick-left" /> </a>
    </BtnBackPage>


    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Estado / Departamento</th>
                    <th style="width:140px">Ciudades</th>
                    <th style="width:260px"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var state in states!)
                {
                    <tr>
                        <td>
                            @state.Name
                        </td>
                        <td>
                            @state.CitiesNumber
                        </td>
                        <td>
                            <a class="btn btn-info" href="/states/details/@state.Id"><i class="oi oi-list" /></a>
                            <button class="btn btn-warning" @onclick=@(() => EditAsync(state.Id))> <i class="oi oi-pencil" /> </button>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(state.Id))> <i class="oi oi-trash" /> </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>

    <PopUpAddEdit>

        <StateForm @ref="stateForm" Title="@TitlePopUp" State="state" OnValidSubmit="OnValidSubmit" ReturnAction="Return" />

    </PopUpAddEdit>
</GenericList>




@code {
    private Country? country;
    private List<State>? states;
    private int currentPage = 1;
    private int totalPages;
    private bool ShowPopUp = false;
    public string TitlePopUp = null!;


    private State? state;
    private StateForm? stateForm;

    [Parameter]
    public int CountryId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = "";

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = "";



    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }


        string url1 = $"api/states/ByCountryId?id={CountryId}&page={page}&filter={Filter}";
        string url2 = $"api/states/totalPages?id={CountryId}&filter={Filter}";
        var responseHppt = await repository.Get<Country>($"api/countries/{CountryId}");
        var responseHppt2 = await repository.Get<List<State>>(url1);
        var responseHppt3 = await repository.Get<int>(url2);
        country = responseHppt.Response;
        states = responseHppt2.Response;
        totalPages = responseHppt3.Response;

    }

    private void Add()
    {
        TitlePopUp = "Agregar Estado";
        state = new();
        ShowPopUp = true;
    }

    private async Task EditAsync(int StateId)
    {
        TitlePopUp = "Modificar Estado";


        var responseHttp = await repository.Get<State>($"/api/states/{StateId}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/countries");
                return;
            }

            var message = await responseHttp.GetErrorMessageAsync();
            await Alert.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        else
        {
            state = responseHttp.Response;
            ShowPopUp = true;
        }

    }


    private async Task OnValidSubmit()
    {

        if (state?.Id > 0)
            await Edit();
        else
            await Create();

    }

    private async Task Create()
    {
        state.CountryId = CountryId;
        var httpResponse = await repository.Post("/api/states", state);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await Alert.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await Return();
    }

    private async Task Edit()
    {
        var responseHttp = await repository.Put("/api/states", state);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await Alert.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }


        await Return();
    }

    private async Task DeleteAsync(int id)
    {
        var result = await Alert.FireAsync(new SweetAlertOptions
        {
            Title = "Confirmación",
            Text = "¿Realmente deseas eliminar el registro?",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true,
            CancelButtonText = "No",
            ConfirmButtonText = "Si"
        });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/states/{id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await Alert.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }

        await LoadAsync();
    }

    private async Task Return()
    {
        await LoadAsync();
        ShowPopUp = false;
    }

    #region DataGrid

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadAsync(page);
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync("");
    }

    private async Task ApplyFilterAsync(string filter)
    {
        Filter = filter;
        int page = 1;
        await SelectedPage(page);
    }
    #endregion

}
