@inject SweetAlertService sweetAlertService

            <div class="mb-3">
                <label>País:</label>
                <div>
                    <InputText class="form-control" @bind-Value="@Model.Name" />
                    <ValidationMessage For="@(() => Model.Name)" />
                </div>
            </div>

@code {
    
    [EditorRequired]
    [Parameter]
    public Country Model { get; set; } = null!;

   

}
