@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView Roles="Administrador">
    <Authorized>
        Autorizado, @context.User.Identity?.Name
    </Authorized>
    <NotAuthorized>
        No Autorizado
    </NotAuthorized>
</AuthorizeView>


<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

